<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Variables-categ√≥ricas" data-toc-modified-id="Variables-categ√≥ricas-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Variables categ√≥ricas</a></span></li><li><span><a href="#¬øPor-qu√©-debemos-codificar-las-variables-categ√≥ricas?" data-toc-modified-id="¬øPor-qu√©-debemos-codificar-las-variables-categ√≥ricas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>¬øPor qu√© debemos codificar las variables categ√≥ricas?</a></span></li><li><span><a href="#Tipos-de--codificaci√≥n" data-toc-modified-id="Tipos-de--codificaci√≥n-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Tipos de  codificaci√≥n</a></span><ul class="toc-item"><li><span><a href="#One-Hot-Encoding" data-toc-modified-id="One-Hot-Encoding-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>One-Hot Encoding</a></span><ul class="toc-item"><li><span><a href="#get_dummies" data-toc-modified-id="get_dummies-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>get_dummies</a></span></li></ul></li><li><span><a href="#Label-Encoding" data-toc-modified-id="Label-Encoding-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Label Encoding</a></span><ul class="toc-item"><li><span><a href="#Usando-map" data-toc-modified-id="Usando-map-3.2.1"><span class="toc-item-num">3.2.1&nbsp;&nbsp;</span>Usando <code>map</code></a></span></li></ul></li><li><span><a href="#Ordinal-Encoding" data-toc-modified-id="Ordinal-Encoding-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Ordinal Encoding</a></span></li></ul></li></ul></div>

En este jupyter vamos a aprender que es el *feature encoding*, es decir, el proceso de convertir los datos categ√≥ricos de un conjunto de datos en datos num√©ricos. Es esencial que realicemos la codificaci√≥n de estas variables porque la mayor√≠a de los modelos de aprendizaje autom√°tico solo pueden interpretar datos num√©ricos y no datos en forma de texto.

# Variables categ√≥ricas

Las variables cualitativas son aquellas que hacen referencia a caracter√≠sticas o cualidades que no pueden ser medidas con n√∫meros. Por ejemplo, el sexo de una persona es una variable cualitativa, ya que es masculino o femenino. 

Algunas de las caracter√≠ticas de este tipo de variables son: 

- No se pueden medir num√©ricamente


- No otorga datos espec√≠ficos y a a veces tampoco un orden


- Especifica una condici√≥n, cualidad o caracter√≠stica



Podemos encontrar tres tipos de variables cualitativas:

- `Ordinaria`: la variable cualitativa ordinaria, tambi√©n conocida como variable cuasicuantitativa, es representada por una modalidad que no requiere n√∫meros pero s√≠ consta de un orden o un puesto.

    Por ejemplo, el nivel socioecon√≥mico: alto, medio, bajo.


- `Nominal`: variable que no es representada por n√∫meros ni tiene alg√∫n tipo de orden, y por lo tanto es matem√°ticamente menos precisa.

    Por ejemplo, son variables nominales los colores: negro, azul, rojo, amarillo, naranja, etc.


- `Binaria`: la variable cualitativa binaria trabaja con valores espec√≠ficos del tipo binario.

    Por ejemplo, el sexo de una persona ser√° masculino o femenino.

# ¬øPor qu√© debemos codificar las variables categ√≥ricas?

Codificamos los datos categ√≥ricos a valores num√©ricos porque gran parte de los algoritmos de modelados (*machine learning* no pueden ejecutarse y procesar datos si √©stos no son num√©ricos. Por lo tanto, los analistas de datos necesitan tener herramientas a su disposici√≥n para transformar colores como el rojo, el amarillo y el azul en n√∫meros como el 1, el 2 y el 3 para que tengan lugar todas las matem√°ticas de nuestros modelos.

In [76]:
# antes de empezar importemos las librer√≠as que necesitaremos

import pandas as pd
from sklearn.preprocessing import LabelEncoder 
from sklearn.preprocessing import OneHotEncoder  
from sklearn.preprocessing import OrdinalEncoder

import warnings
warnings.filterwarnings('ignore')
pd.options.display.max_columns = None

In [77]:
df = pd.read_csv("data/insurance_sin_outliers_nulos.csv", index_col = 0)
df.head(2)

      sex smoker     region   age    bmi  children     charges
0  female    yes  southwest  19.0  27.90       0.0  16884.9240
1    male     no  southeast  18.0  33.77       1.0   1725.5523

In [78]:
df.isnull().sum()

sex         0
smoker      0
region      0
age         0
bmi         0
children    0
charges     0
dtype: int64

# Tipos de  codificaci√≥n

Ahora que sabemos c√≥mo son los datos categ√≥ricos , hemos visto algunos ejemplos y lo importante que puede ser codificarlos, examinaremos los m√©todos comunes para convertir nuestros datos categ√≥ricos en datos num√©ricos. Estos m√©todos son: 

- **One-Hot Encoding**: lo usaremos cuando nuestras variables no tengan orden


- **get_dummies**: lo usaremos cuando nuestras variables no tengan orden


- **Label-Encoding**: lo usaremos cuando nuestras variables tengan orden


- **map**: lo usaremos cuando nuestras variables tengan orden


- **Ordinal-Encoding**: lo usaremos cuando nuestras variables tengan orden

## One-Hot Encoding

Si nuestra variable es el color primario (y cada fila tiene s√≥lo un color primario), la codificaci√≥n de un solo color representar√≠a si el color presente en cada fila es rojo, azul o amarillo. 

Esto se consigue a√±adiendo una nueva columna para cada color posible. Con estas tres columnas que representan el color en cada fila de los datos, recorremos cada fila y asignamos el valor 1 a la columna que representa el color presente en nuestra fila actual y rellenamos las otras columnas de color de esa fila con un 0 para representar su ausencia. Veamos c√≥mo podemos hacer esto en python y las ventajas e inconvenientes de este m√©todo.

[Aqu√≠](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html) ten√©is la documentaci√≥n oficial sobre el m√©todo. 

Tendremos que importar üëáüèΩ

```python
from sklearn.preprocessing import OneHotEncoder  
```

Al final tendremos tantas columnas nuevas en nuestro *dataframe*  como categor√≠as tengamos en nuestra columna. Por lo tanto, no es especialmente recomendable para variables con muchas categor√≠as ya que nos generar√° *dataframes* con muchas columnas que lo har√° muy pesado de cara a posibles computaciones en el futuro. 


üìå **NOTA** Este m√©todo nos va a devolver un array que tendremos que convertir a dataframe para incluir los cambios en nuestro *dataframe*

üö® **Le podemos pasar varias columnas**

In [79]:
# nos hacemos una copia del dataframe

df1 = df.copy()
df1.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [80]:
# iniciamos el m√©todo de OneHot Encoder

oh = OneHotEncoder()

In [81]:
# hacemos la codificaci√≥n de los datos para la variable dada 

transformados = oh.fit_transform(df1[["region"]])
type(transformados)

scipy.sparse.csr.csr_matrix

In [82]:
# convertimos nuestro array con la codificaci√≥n hecha en un dataframe

oh_df = pd.DataFrame(transformados.toarray(), dtype = int)
oh_df.head()

   0  1  2  3
0  0  0  0  1
1  0  0  1  0
2  0  0  1  0
3  0  1  0  0
4  0  1  0  0

In [83]:
# el m√©todo get_feature_names nos va a dar el nombre de las columnas nuevas que se nos generar√°n
oh_df.columns = oh.get_feature_names()

In [84]:
oh_df.head()

   x0_northeast  x0_northwest  x0_southeast  x0_southwest
0             0             0             0             1
1             0             0             1             0
2             0             0             1             0
3             0             1             0             0
4             0             1             0             0

In [85]:
df1[oh_df.columns] = oh_df

In [86]:
df1.head()

,sex,smoker,region,age,bmi,children,charges,x0_northeast,x0_northwest,x0_southeast,x0_southwest
0,female,yes,southwest,19.000000,27.900,0.0,16884.92400,0,0,0,1
1,male,no,southeast,18.000000,33.770,1.0,1725.55230,0,0,1,0
2,male,no,southeast,28.000000,33.000,3.0,4449.46200,0,0,1,0
3,male,no,northwest,33.000000,22.705,0.0,21984.47061,0,1,0,0
4,male,no,northwest,39.171927,28.880,0.0,3866.85520,0,1,0,0

In [87]:
# vamos a definir una funci√≥n que nos aplique este m√©todo

def one_hot_encoder(df, columnas):
    
    '''
    columnas: lista
    '''
    
    oh = OneHotEncoder()
    
    transformados = oh.fit_transform(df[columnas])
    
    oh_df = pd.DataFrame(transformados.toarray(), columns = oh.get_feature_names(), dtype = int)
    
    df[oh_df.columns] = oh_df
    
    df.drop(columnas, axis = 1, inplace = True)
    
    return df

In [88]:
# volvemos a hacermos una copia para probar nuestra funci√≥n con dos columnas

df2 = df.copy()
df2.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [89]:
df2 = one_hot_encoder(df2, ["sex", "smoker", "sex"])

In [90]:
# chequeamos para ver que ha pasado
df2.head()

,region,age,bmi,children,charges,x0_female,x0_male,x1_no,x1_yes,x2_female,x2_male
0,southwest,19.000000,27.900,0.0,16884.92400,1,0,0,1,1,0
1,southeast,18.000000,33.770,1.0,1725.55230,0,1,1,0,0,1
2,southeast,28.000000,33.000,3.0,4449.46200,0,1,1,0,0,1
3,northwest,33.000000,22.705,0.0,21984.47061,0,1,1,0,0,1
4,northwest,39.171927,28.880,0.0,3866.85520,0,1,1,0,0,1

Si nos fijamos en el output: 

- Las columnas `sex` y `region` se han eliminado


- En el caso de `region, se nos han creado 4 columnas nuevas, una para cada categoria que ten√≠amos en nuestra columna. Se han creado columnas con valores de 0 y 1. ¬øQu√© significa esto? 
    
    - 1 -> el valor de esa fila en la columna original era el de la columna nueva
    
    - 0 -> el valor de esa fila en la columna original no era el de la columna nueva

###  get_dummies

Tambi√©n podemos hacer una codificaci√≥n del tipo One-Hot Encoding usando el m√©todo de pandas `get_dummies`. 

Es una de las formas m√°s f√°ciles de implementar un m√©todo de codificaci√≥n en caliente y tiene par√°metros muy √∫tiles. 

[Aqu√≠](https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html) la documentaci√≥n oficial.

Su sintaxis: 

```python
pd.get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False, dtype=None)
```

- `data`: columna categ√≥rica objetivo de nuestro conjunto de datos


- `prefix_sep`: par√°metro separador de prefijos para limpiar el nombre de la columna


- `prefix`: valores de prefijo para nuestras nuevas columnas


- `dtype`: tipo de n√∫mero. Por defecto float. Tipo deseado de salida.

üìå  **Lo tendremos que hacer columna a columna**

In [24]:
# nos creamos otra copia para ver como funciona el get_dummies

df4 = df.copy()
df4.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [25]:
# lo haremos para la columna "region"

dummies = pd.get_dummies(df4["region"], prefix_sep = "_", prefix = "region", dtype = int)
dummies.head()

   region_northeast  region_northwest  region_southeast  region_southwest
0                 0                 0                 0                 1
1                 0                 0                 1                 0
2                 0                 0                 1                 0
3                 0                 1                 0                 0
4                 0                 1                 0                 0

In [26]:
# incluimos las columnas creadas por el m√©todo get_dummies y eliminamos la de region original
df4[dummies.columns] = dummies
df4.drop(["region"], axis = 1, inplace = True)

In [27]:
df4.head()

,sex,smoker,age,bmi,children,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,female,yes,19.000000,27.900,0.0,16884.92400,0,0,0,1
1,male,no,18.000000,33.770,1.0,1725.55230,0,0,1,0
2,male,no,28.000000,33.000,3.0,4449.46200,0,0,1,0
3,male,no,33.000000,22.705,0.0,21984.47061,0,1,0,0
4,male,no,39.171927,28.880,0.0,3866.85520,0,1,0,0

Si nos fijamos se nos crean tantas columnas nuevas como categorias. Cada columna tendr√° el prefijo que indicamos "platforms" separado por "_".

**Ventajas e Incovenientes de usar esta aproximaci√≥n** 


- Ventajas

    - Una de las ventajas obvias es que te das cuenta de si alg√∫n valor √∫nico en particular dentro de un conjunto de valores tiene un impacto excesivo o fuerte en una direcci√≥n positiva o negativa. 
    
    - Se mantiene la informaci√≥n sobre los valores de cada variable. Con la codificaci√≥n por etiquetas, como veremos a continuaci√≥n, obtenemos una buena medida del impacto de una caracter√≠stica particular en los modelos, pero no los impactos espec√≠ficos de los valores √∫nicos de esa caracter√≠stica.
    
- Inconvenientes

    - Aunque es bueno conocer el impacto, positivo o negativo, de cada ocurrencia √∫nica en los datos categ√≥ricos, a veces puede hacer que los resultados sean menos precisos. Sin embargo, lo m√°s importante es que si algunos valores √∫nicos son mucho m√°s comunes que otros, podemos asumir err√≥neamente que estos valores son muy importantes cuando en realidad no lo son. 
    
    Por esta raz√≥n, se suele usar esta codificaci√≥n para las variales que no tienen una cantidad abrumadora de valores √∫nicos y/o la distribuci√≥n de los valores √∫nicos est√° relativamente equilibrada.
    
    - Dado que eliminamos nuestra variable una vez codificada, el efecto de la caracter√≠stica en s√≠ puede perderse en cierta medida, ya que cambiamos nuestra atenci√≥n a los valores de la caracter√≠stica y no a la caracter√≠stica en s√≠.

## Label Encoding  

El Label Encoding es probablemente el tipo m√°s b√°sico de m√©todo de codificaci√≥n de variables categ√≥ricas despu√©s del OneHot Encoding. Este tipo de codificaci√≥n no a√±ade ninguna columna adicional a los datos, sino que asigna un n√∫mero a cada valor √∫nico de una variable.

Volvamos a utilizar el ejemplo de los colores. En lugar de a√±adir una columna para el rojo, otra para el azul y una m√°s para el amarillo, simplemente se asignara un n√∫mero a cada valor. El rojo es 1, el azul es 2 y el amarillo es 3. Ahorramos mucho espacio y no a√±adimos m√°s columnas a nuestros datos, lo que da un aspecto mucho m√°s limpio a los datos. Los n√∫meros asignados para el rojo, el azul y el amarillo son arbitrarios y sus etiquetas no tienen ning√∫n significado real, pero son f√°ciles de manejar. 

[Aqu√≠](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html) tenemos m√°s informaci√≥n sobre este m√©todo. 


Su sintaxis:
```python
LabelEncoder()
```

Tendremos que importar üëáüèΩ

```python
from sklearn.preprocessing import LabelEncoder  
```

üö® Le tenemos que pasar una √∫nica columna, si le pasamos m√°s de una columna nos devolver√° un error.

In [28]:
# volvemos a hacernos una copia

df5 = df.copy()
df5.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [29]:
# iniciamos el m√©todo

le = LabelEncoder()

In [30]:
sex_transformada = le.fit_transform(df5["sex"])
sex_transformada

array([0, 1, 1, ..., 0, 0, 0])

In [31]:
# la incorporamos en nuestro dataframe

df5["sex_enco"] = sex_transformada

In [33]:
df5.sample(7)

         sex smoker     region   age     bmi  children      charges  sex_enco
1113  female     no  northwest  28.0  26.315       3.0   5312.16985         0
1266  female     no  southwest  55.0  30.500       0.0  10704.47000         0
851     male     no  northwest  61.0  32.300       2.0  14119.62000         1
248     male     no  southwest  19.0  20.900       1.0   1832.09400         1
1211    male     no  southeast  39.0  34.100       2.0  23563.01618         1
482   female     no  southeast  18.0  31.350       0.0   1622.18850         0
576     male     no  southeast  22.0  26.840       0.0   1664.99960         1

Pero hacer esto para cada variable puede ser un poco tedioso. Podemos hacer un *for* para aplicarlo a todo nuestro *dataframe*

In [34]:
# lo aplicamos a todo nuestro dataframe 

for col in df5[["smoker", "region"]].columns:
    nuevo_nombre = col + "_encoded"
    df5[nuevo_nombre] = le.fit_transform(df5[col])

In [36]:
# chequeamos el dataframe de nuevo
df5.sample(7)

,sex,smoker,region,age,bmi,children,charges,sex_enco,smoker_encoded,region_encoded
310,male,no,southwest,39.171927,26.600,0.0,8444.47400,1,0,3
1151,male,no,northwest,58.000000,36.480,0.0,12235.83920,1,0,1
423,male,no,northeast,25.000000,30.590,0.0,2727.39510,1,0,0
531,female,no,northeast,62.000000,31.730,0.0,14043.47670,0,0,0
519,male,no,northeast,31.000000,30.875,0.0,3857.75925,1,0,0
1157,female,no,northwest,23.000000,23.180,2.0,14426.07385,0,0,1
283,female,no,northeast,55.000000,32.395,1.0,11879.10405,0,0,0

Si nos fijamos ahora no se nos han creado columnas nuevas y se nos han transformado nuestras categorias que antes estaban en formato *string* en n√∫meros.

In [37]:
# creemos la funci√≥n correspondiente

def label_encoder(df, columnas):
    for col in df[columnas].columns:
        nuevo_nombre = col + "_encoded"
        df[nuevo_nombre] = le.fit_transform(df[col])
    return df

In [38]:
df55 = df.copy()
df55.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [39]:
# aplicamos la funci√≥n

df55 = label_encoder(df55, ["region", "sex"])
df55.head()

,sex,smoker,region,age,bmi,children,charges,region_encoded,sex_encoded
0,female,yes,southwest,19.000000,27.900,0.0,16884.92400,3,0
1,male,no,southeast,18.000000,33.770,1.0,1725.55230,2,1
2,male,no,southeast,28.000000,33.000,3.0,4449.46200,2,1
3,male,no,northwest,33.000000,22.705,0.0,21984.47061,1,1
4,male,no,northwest,39.171927,28.880,0.0,3866.85520,1,1

### Usando `map`  

Si recordamos el m√©todo `map` de pandas. La codificaci√≥n la podremos aplicar usando esa herramienta. El incoveniente de esta aproximaci√≥n es que es que si tenemos una variable con muchas categorias puede ser un poco tedioso prepararlo. 

üö® **Lo tendremos que aplicar solo para solo una columna**

In [40]:
# nos creamos otra copia para este ejemplo

df6 = df.copy()
df6.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [41]:
#Lo primero, chequeamos cuales son los valores √∫nicos. En este caso "Yes" y "No"

df.sex.unique()

array(['female', 'male'], dtype=object)

In [42]:
# lo primero que tenemos que hacer es crearnos un diccionario con el que mapearemos nuestra columna

mapa = {"female":  0, 
       "male": 1}

In [43]:
# aplicamos el map a nuestra columna

df6["sex_map"] = df6["sex"].map(mapa)

In [44]:
# chequeamos que se hayan hecho los cambios

df6.head()

      sex smoker     region        age     bmi  children      charges  sex_map
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400        0
1    male     no  southeast  18.000000  33.770       1.0   1725.55230        1
2    male     no  southeast  28.000000  33.000       3.0   4449.46200        1
3    male     no  northwest  33.000000  22.705       0.0  21984.47061        1
4    male     no  northwest  39.171927  28.880       0.0   3866.85520        1

In [45]:
lista = ["Fer", "Miguel", "Antonio"]

for i, valor in enumerate(lista):
    print(i, "---->", valor)

0 ----> Fer
1 ----> Miguel
2 ----> Antonio

In [49]:
def ordinal_map(df, columna, orden_valores):
    ordinal_dict = {}
    
    for i, valor in enumerate(orden_valores):
        ordinal_dict[valor] = i
        
    nuevo_nombre = columna + "_mapeada"
    
    df[nuevo_nombre] = df[columna].map(ordinal_dict)
    
    return df

In [50]:
df6["region"].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [52]:
df6 = ordinal_map(df6, "region", ['southwest', 'southeast', 'northwest', 'northeast'])

In [54]:
df6.sample(7)

,sex,smoker,region,age,bmi,children,charges,sex_map,region_mapeada
595,female,no,northeast,46.000000,33.725,1.0,8823.98575,0,3
184,male,no,southeast,44.000000,30.690,2.0,7731.42710,1,1
110,male,no,northwest,54.000000,33.630,1.0,10825.25370,1,2
1192,female,no,northeast,58.000000,32.395,1.0,13019.16105,0,3
310,male,no,southwest,39.171927,26.600,0.0,8444.47400,1,0
740,male,no,northeast,45.000000,24.035,2.0,8604.48365,1,3
799,male,yes,northeast,33.000000,24.795,0.0,17904.52705,1,3

**Ventajas e Incovenientes de usar esta aproximaci√≥n** 

- Ventajas

    - Es r√°pida, f√°cil y no crea un marco de datos desordenado, al contrario que el OneHot Encoding que  a√±ade un mont√≥n de columnas.
    
- Inconvenientes:

    - Nuestras etiquetas son bastante arbitrarias. ¬øQui√©n puede decir que el paso entre el rango 4 y el 5 es el mismo que el paso entre el 2 y el 3? Tal vez la diferencia entre lo que llamamos 4 y 5 es marginal, mientras que la diferencia entre lo que llamamos 2 y 3 es enorme. Como ya se ha mencionado, otro inconveniente es que, si bien podemos encontrar lo fuerte o d√©bil que es el impacto de una caracter√≠stica concreta, perdemos toda la informaci√≥n sobre los valores √∫nicos dentro de esa caracter√≠stica (esto se soluciona moderadamente con la codificaci√≥n ordinal, pero el efecto es marginal). 
    
    - Por √∫ltimo, este m√©todo puede no funcionar bien con los *outliers* , ya que existe la posibilidad de que ciertas etiquetas no aparezcan en frecuencias similares a las dem√°s.

## Ordinal Encoding

El OrdinalEncoding es una forma ligeramente avanzada de codificaci√≥n; asignamos etiquetas basadas en un orden o jerarqu√≠a. En el caso de los colores, no soy un artista, as√≠ que no veo ninguna raz√≥n para no asignar n√∫meros al color de forma aleatoria. Sin embargo, si estamos tratando con cortes de diamantes, podemos querer establecer un sistema en el que a los peores cortes se les asigne un n√∫mero menor. 

[Aqu√≠](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html) m√°s informaci√≥n sobre esta aproximaci√≥n. 


Su sintaxis:
```python
OrdinalEncoder(categories='auto', dtype=<class 'numpy.float64'>, handle_unknown='error', unknown_value=None)
```

Tendremos que importar üëáüèΩ

```python
from sklearn.preprocessing import OrdinalEncoder  
```

üö® **Solo te podremos pasar una columna**

In [55]:
# nos hacemos otra copia para este ejemplo

df7 = df.copy()
df7.head()

      sex smoker     region        age     bmi  children      charges
0  female    yes  southwest  19.000000  27.900       0.0  16884.92400
1    male     no  southeast  18.000000  33.770       1.0   1725.55230
2    male     no  southeast  28.000000  33.000       3.0   4449.46200
3    male     no  northwest  33.000000  22.705       0.0  21984.47061
4    male     no  northwest  39.171927  28.880       0.0   3866.85520

In [62]:
# en este caso trabajaremos con la columna "region" que tiene los siguientes valores √∫nicos

df7.smoker.unique()

array(['yes', 'no'], dtype=object)

In [63]:
# establecemos el orden que queremos. 

orden = ['southwest', 'southeast', 'northwest', 'northeast']

In [65]:
# iniciamos el m√©todo y aplicamos la transformaci√≥n a los datos. 

ordinal = OrdinalEncoder(categories = [orden], dtype = int)
transformados_oe = ordinal.fit_transform(df7[["region"]])

In [67]:
# lo convertimos a dataframe

oe_df =pd.DataFrame(transformados_oe)
oe_df.head()

   0
0  0
1  1
2  1
3  2
4  2

In [74]:
df7["smoker_encoded"] = oe_df

In [75]:
df7.head()

,sex,smoker,region,age,bmi,children,charges,somker_encoded,smoker_encoded
0,female,yes,southwest,19.000000,27.900,0.0,16884.92400,0,0
1,male,no,southeast,18.000000,33.770,1.0,1725.55230,1,1
2,male,no,southeast,28.000000,33.000,3.0,4449.46200,1,1
3,male,no,northwest,33.000000,22.705,0.0,21984.47061,2,2
4,male,no,northwest,39.171927,28.880,0.0,3866.85520,2,2

In [ ]:
# creamos la √∫ltima funci√≥n

In [ ]:
# hacemos una nueva copia para probar la funci√≥n

**Ventajas e Incovenientes de usar esta aproximaci√≥n** 


- Ventajas: 
    - La codificaci√≥n ordinal (Ordinal Encoding), que podr√≠amos decir que es una extensi√≥n del LabelEncoding, impone un significado adicional a las etiquetas asignadas mediante la codificaci√≥n de etiquetas.
   
   
- Inconvenientes (van a ser las mismas que el LabelEncoding):

    - Nuestras etiquetas son bastante arbitrarias. ¬øQui√©n puede decir que el paso entre el rango 4 y el 5 es el mismo que el paso entre el 2 y el 3? Tal vez la diferencia entre lo que llamamos 4 y 5 es marginal, mientras que la diferencia entre lo que llamamos 2 y 3 es enorme. Como ya se ha mencionado, otro inconveniente es que, si bien podemos encontrar lo fuerte o d√©bil que es el impacto de una caracter√≠stica concreta, perdemos toda la informaci√≥n sobre los valores √∫nicos dentro de esa caracter√≠stica (esto se soluciona moderadamente con la codificaci√≥n ordinal, pero el efecto es marginal). 
    
    - Por √∫ltimo, este m√©todo puede no funcionar bien con los *outliers* , ya que existe la posibilidad de que ciertas etiquetas no aparezcan en frecuencias similares a las dem√°s.