<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Selenium" data-toc-modified-id="Selenium-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Selenium</a></span><ul class="toc-item"><li><span><a href="#Los-drivers" data-toc-modified-id="Los-drivers-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Los drivers</a></span></li><li><span><a href="#Capturar-elementos-con-Selenium" data-toc-modified-id="Capturar-elementos-con-Selenium-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Capturar elementos con Selenium</a></span></li></ul></li><li><span><a href="#Manos-a-la-obra" data-toc-modified-id="Manos-a-la-obra-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Manos a la obra</a></span></li></ul></div>

# Selenium

Hacer web scraping se ha convertido en una herramienta muy poderosa para la extracci√≥n de datos y con ellos alimentar nuestras aplicaciones para realizar tareas incre√≠bles. En esta ocasi√≥n usaremos ese poder para obtener las recompensas del mundial de League of Legends.
Haremos uso de selenium pues nos permite de manera muy din√°mica explorar y obtener elementos de √°rbol de HTML e interactuar con los resultados de las acciones.

Antes de nada nos instalaremos selenium

```
pip install selenium
```

In [ ]:
#!pip install selenium

## Los drivers

Selenium emplea ‚Äúdrivers‚Äù para poder acceder al contenido del sitio web, un driver es solo una versi√≥n reducida de un navegador que el c√≥digo de selenium  utiliza, existen por ejemplo los drivers. Para descargarse los drivers: 


- [Driver Chrome](https://chromedriver.storage.googleapis.com/index.html?path=2.43/)


- [Driver Firefox](https://github.com/mozilla/geckodriver/releases)


- [Driver Opera](https://github.com/operasoftware/operachromiumdriver/releases)


> Cuando nos hayamos descargado el driver, tendremos un archivo .exe que tendremos que guardar en la misma carpeta de donde estemos trabajando. 

Podemos cargar los `drivers` de dos formas: 

```python
driver = webdriver.Chrome("/RutaAlDriver/chromedriver.exe")
```


Tambi√©n lo podemos hacer sin necesidad de descargarnos el driver: 

```python
driver = webdriver.Chrome(ChromeDriverManager().install())
```

## Capturar elementos con Selenium 

- Para encontrar un elemento 

```python
find_element_by_id
find_element_by_name
find_element_by_xpath
find_element_by_link_text
find_element_by_partial_link_text
find_element_by_tag_name
find_element_by_class_name
find_element_by_css_selector
```
- Para encontrar m√∫ltiples elementos (este m√©todo nos devuelve una lista):

```python
find_elements_by_name
find_elements_by_xpath
find_elements_by_link_text
find_elements_by_partial_link_text
find_elements_by_tag_name
find_elements_by_class_name
find_elements_by_css_selector
```

- Otros m√°todos que pueden ser interesantes: 

```python
.click() # simula un click en el navegador
.send_keys # va a rellenar un campo
.implicitly_wait # # indica al Selenium WebDriver que espere un determinado tiempo antes de lanzar una excepci√≥n. Una vez que se establece este tiempo, WebDriver esperar√° el elemento antes de que se produzca la excepci√≥n.
.text # obtener el texto del elemento selenio
```

In [116]:
import requests
import pandas as pd
from time import sleep
import numpy as np


from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys



import warnings
warnings.filterwarnings('ignore')

# Manos a la obra

Lo primero que vamos a hacer es definir una serie de opciones para trabajar con Selenium

In [86]:
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot, pero me sigue diciendo que hay un software automatico usando chrome
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('--incognito')#incognito window

In [93]:
# iniciamos el driver
driver = webdriver.Chrome(ChromeDriverManager().install())

## accedemos a la pagina web
driver.get('https://www.wunderground.com/history')

# esperamos
driver.implicitly_wait(5)

# aceptamos las cookies
driver.find_element_by_css_selector('#truste-consent-button').click()
sleep(5)

# seleccionamos la casilla para poner la ciudad por la que queremos buscar
ciudad = driver.find_element_by_css_selector('#historySearch').send_keys('Madrid, Madrid, Spain', Keys.TAB)
print("llegamos")
sleep(5)

# por lo que sea le tenemos que dar dos veces al bot√≥n de enviar
print("esperando1")
driver.find_element_by_xpath('//*[@id="dateSubmit"]').click()
sleep(5)
print("esperando2")
driver.find_element_by_xpath('//*[@id="dateSubmit"]').click()

# seleccionamos que nos los valores medios del mes
sleep(5)
driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(1) > div:nth-child(1) > div > lib-link-selector > div > div > div > a:nth-child(3)").click()

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/anagarciagarcia/.wdm/drivers/chromedriver/mac64/98.0.4758.102/chromedriver] found in cache

llegamos
esperando1
esperando2

Hemos accedido a la informaci√≥n de un dia, perfecto! Pero que pasa si queremos m√°s dias?

In [94]:
url_list = []
for year in range(2010, 2022):
    for month in range(1,13):
        url_list.append(f"https://www.wunderground.com/history/monthly/LEMD/date/{year}-{month}")

In [96]:
# ya tenemos la lista de las url que queremos. 

url_list[:2]

['https://www.wunderground.com/history/monthly/LEMD/date/2010-1',
 'https://www.wunderground.com/history/monthly/LEMD/date/2010-2']

In [97]:
len(url_list)

144

In [146]:
driver = webdriver.Chrome(ChromeDriverManager().install())
result_list = []
for i in url_list[:3]:
    driver.get(i)
    try: 
        sleep(5)
        # aceptamos cookies
        driver.find_element_by_css_selector('#truste-consent-button').click()
        driver.implicitly_wait(5)
        # sacamos el texto de la tabla
        my_info = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list.append(my_info)
    except:
        sleep(5)
        my_info = driver.find_element_by_css_selector("#inner-content > div.region-content-main > div.row > div:nth-child(5) > div:nth-child(1) > div > lib-city-history-observation > div > div.observation-table.ng-star-inserted").text
        result_list.append(my_info)

driver.quit()

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Driver [/Users/anagarciagarcia/.wdm/drivers/chromedriver/mac64/98.0.4758.102/chromedriver] found in cache

In [147]:
# cada uno de los elementos de nuestra lista ser√° una tabla

result_list[1]

'Time Temperature (¬∞ F) Dew Point (¬∞ F) Humidity (%) Wind Speed (mph) Pressure (Hg) Precipitation (in)\nJan\n1\n2\n3\n4\n5\n6\n7\n8\n9\n10\n11\n12\n13\n14\n15\n16\n17\n18\n19\n20\n21\n22\n23\n24\n25\n26\n27\n28\n29\n30\n31\nMax Avg Min\n48 42.9 39\n46 41.7 37\n46 42.3 36\n50 46.6 45\n52 46.8 43\n46 42.4 39\n39 36.3 34\n37 34.3 32\n36 32.8 30\n32 26.9 21\n34 27.5 23\n45 16.9 0\n46 40.8 36\n52 49.5 45\n48 41.7 34\n50 44.1 39\n50 46.5 45\n59 51.5 46\n55 52.8 50\n57 47.7 37\n52 41.4 32\n50 42.0 34\n54 47.5 43\n55 47.4 41\n48 42.9 37\n50 38.1 0\n43 37.4 34\n54 37.5 25\n55 42.0 28\n52 44.3 32\n52 45.7 36\nMax Avg Min\n41 36.2 34\n41 35.8 0\n43 39.3 36\n48 44.9 43\n46 44.1 39\n39 23.0 0\n37 22.8 0\n23 19.0 16\n21 18.1 14\n27 21.0 18\n30 25.3 21\n36 16.2 0\n45 38.4 0\n46 32.1 0\n39 26.7 0\n43 40.3 37\n50 45.8 43\n50 46.9 46\n52 49.3 41\n46 38.9 30\n41 31.6 0\n43 38.5 34\n45 41.1 39\n41 39.5 36\n36 20.2 0\n34 14.4 0\n28 23.6 19\n30 24.7 19\n37 26.6 0\n34 19.7 0\n36 13.5 0\nMax Avg Min\n81 77.0 66\n100 84.0 66\n100 89.7 76\n100 94.0 87\n100 88.9 76\n93 70.9 53\n93 87.0 65\n65 54.4 44\n64 55.4 47\n100 79.2 55\n100 91.7 75\n100 95.5 66\n100 92.5 76\n93 65.5 47\n87 75.0 57\n93 86.2 76\n100 97.0 87\n100 85.7 63\n100 88.9 67\n100 74.2 36\n100 85.0 66\n100 87.3 71\n100 79.8 62\n93 75.8 47\n81 62.3 43\n100 71.8 43\n70 57.8 45\n86 63.3 28\n93 67.5 36\n87 60.9 41\n81 60.9 47\nMax Avg Min\n29 16.6 7\n10 3.9 0\n7 1.5 0\n8 4.3 0\n5 1.7 0\n15 7.3 0\n23 11.7 0\n28 18.5 7\n20 7.2 0\n6 1.9 0\n9 3.5 0\n10 4.1 0\n14 6.8 0\n31 19.6 2\n7 3.5 0\n6 1.8 0\n6 2.3 0\n9 3.1 0\n14 5.9 0\n13 5.9 0\n5 1.6 0\n6 2.0 0\n14 4.2 0\n14 4.3 0\n16 8.6 2\n21 11.0 2\n21 11.5 3\n16 5.2 0\n20 6.6 0\n23 9.7 1\n21 10.4 2\nMax Avg Min\n28.0 27.8 27.7\n28.1 28.1 28.0\n28.1 28.0 28.0\n28.0 27.7 27.6\n27.6 27.6 27.5\n27.7 27.7 27.6\n27.6 27.5 27.5\n27.9 27.7 27.6\n28.0 27.9 27.9\n28.0 27.9 27.9\n28.1 28.0 27.9\n28.1 27.9 27.7\n28.0 27.9 27.6\n28.0 27.7 27.5\n28.2 28.2 28.0\n28.2 28.2 28.1\n28.2 28.2 28.2\n28.2 28.1 28.1\n28.1 28.1 28.0\n28.2 28.1 28.1\n28.2 28.2 28.1\n28.2 28.1 28.0\n28.1 28.0 28.0\n28.2 28.1 28.0\n28.2 28.1 28.1\n28.1 28.1 28.1\n28.2 28.1 28.0\n28.2 28.1 28.0\n28.0 27.8 27.7\n27.8 27.8 27.7\n27.9 27.8 27.7\nTotal\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00\n0.00'

Convertimos toda la lista en dataframe

In [148]:
df = pd.DataFrame(result_list)
df

                                                   0
0  Time Temperature (¬∞ F) Dew Point (¬∞ F) Humidit...
1  Time Temperature (¬∞ F) Dew Point (¬∞ F) Humidit...
2  Time Temperature (¬∞ F) Dew Point (¬∞ F) Humidit...

In [149]:
# sacamos la primera fila para ver como tenemos la info en cada fila. 

x = list(df.iloc[0][0].split("\n"))

In [158]:
# qu√© es x?

x[0]

'Time Temperature (¬∞ F) Dew Point (¬∞ F) Humidity (%) Wind Speed (mph) Pressure (Hg) Precipitation (in)'

In [151]:
# lo podemos convertir a dataframe?

pd.DataFrame(np.array(x[1:]).reshape(7, 32)).T

,0,1,2,3,4,5,6
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00
2,2,46 41.7 37,41 35.8 0,100 84.0 66,10 3.9 0,28.1 28.1 28.0,0.00
3,3,46 42.3 36,43 39.3 36,100 89.7 76,7 1.5 0,28.1 28.0 28.0,0.00
4,4,50 46.6 45,48 44.9 43,100 94.0 87,8 4.3 0,28.0 27.7 27.6,0.00
5,5,52 46.8 43,46 44.1 39,100 88.9 76,5 1.7 0,27.6 27.6 27.5,0.00
6,6,46 42.4 39,39 23.0 0,93 70.9 53,15 7.3 0,27.7 27.7 27.6,0.00
7,7,39 36.3 34,37 22.8 0,93 87.0 65,23 11.7 0,27.6 27.5 27.5,0.00
8,8,37 34.3 32,23 19.0 16,65 54.4 44,28 18.5 7,27.9 27.7 27.6,0.00
9,9,36 32.8 30,21 18.1 14,64 55.4 47,20 7.2 0,28.0 27.9 27.9,0.00
10,10,32 26.9 21,27 21.0 18,100 79.2 55,6 1.9 0,28.0 27.9 27.9,0.00
11,11,34 27.5 23,30 25.3 21,100 91.7 75,9 3.5 0,28.1 28.0 27.9,0.00
12,12,45 16.9 0,36 16.2 0,100 95.5 66,10 4.1 0,28.1 27.9 27.7,0.00
13,13,46 40.8 36,45 38.4 0,100 92.5 76,14 6.8 0,28.0 27.9 27.6,0.00
14,14,52 49.5 45,46 32.1 0,93 65.5 47,31 19.6 2,28.0 27.7 27.5,0.00
15,15,48 41.7 34,39 26.7 0,87 75.0 57,7 3.5 0,28.2 28.2 28.0,0.00
16,16,50 44.1 39,43 40.3 37,93 86.2 76,6 1.8 0,28.2 28.2 28.1,0.00
17,17,50 46.5 45,50 45.8 43,100 97.0 87,6 2.3 0,28.2 28.2 28.2,0.00
18,18,59 51.5 46,50 46.9 46,100 85.7 63,9 3.1 0,28.2 28.1 28.1,0.00
19,19,55 52.8 50,52 49.3 41,100 88.9 67,14 5.9 0,28.1 28.1 28.0,0.00
20,20,57 47.7 37,46 38.9 30,100 74.2 36,13 5.9 0,28.2 28.1 28.1,0.00
21,21,52 41.4 32,41 31.6 0,100 85.0 66,5 1.6 0,28.2 28.2 28.1,0.00
22,22,50 42.0 34,43 38.5 34,100 87.3 71,6 2.0 0,28.2 28.1 28.0,0.00
23,23,54 47.5 43,45 41.1 39,100 79.8 62,14 4.2 0,28.1 28.0 28.0,0.00
24,24,55 47.4 41,41 39.5 36,93 75.8 47,14 4.3 0,28.2 28.1 28.0,0.00
25,25,48 42.9 37,36 20.2 0,81 62.3 43,16 8.6 2,28.2 28.1 28.1,0.00
26,26,50 38.1 0,34 14.4 0,100 71.8 43,21 11.0 2,28.1 28.1 28.1,0.00
27,27,43 37.4 34,28 23.6 19,70 57.8 45,21 11.5 3,28.2 28.1 28.0,0.00
28,28,54 37.5 25,30 24.7 19,86 63.3 28,16 5.2 0,28.2 28.1 28.0,0.00
29,29,55 42.0 28,37 26.6 0,93 67.5 36,20 6.6 0,28.0 27.8 27.7,0.00
30,30,52 44.3 32,34 19.7 0,87 60.9 41,23 9.7 1,27.8 27.8 27.7,0.00
31,31,52 45.7 36,36 13.5 0,81 60.9 47,21 10.4 2,27.9 27.8 27.7,0.00

Para hacer el `reshape` necesitamos tener en cuenta el n√∫mero de dias que hay en cada mes. Lo que podemos hacer es sacar el √≠ndice del valor `"Max Avg Min"` que ser√° el siguiente valor despu√©s de terminar la informaci√≥n de los dias. 

**¬øNos acordamos del m√©todo `index`?** üëáüèΩ

In [152]:
# nos devuelve la posici√≥n en nuestro dataframe. 

x[1:].index("Max Avg Min")

32

In [153]:
clima_df = pd.DataFrame()
for i in range(len(df)):
    x = list(df.iloc[i][0].split("\n")) # "i" ser√° cada fila de nuestro dataframe
    
    mi_ind = x[1:].index("Max Avg Min") # sacamos la posicion de "Max Avg Min" para hacer el reshape
    print(x[1])
    df_solo = pd.DataFrame(np.array(x[1:]).reshape(7, mi_ind)).T
    df_solo.columns = ["Time", "Temperature (¬∞ F)", "Dew Point (¬∞ F)", "Humidity (%)", "Wind Speed (mph)", "Pressure (Hg)", "Precipitation (in)"]
    df_solo["month"] = x[1]
    clima_df = pd.concat( [clima_df, df_solo], axis = 0)

Jan
Jan
Mar

In [154]:
clima_df.head(10)

,Time,Temperature (¬∞ F),Dew Point (¬∞ F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Jan
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00,Jan
2,2,46 41.7 37,41 35.8 0,100 84.0 66,10 3.9 0,28.1 28.1 28.0,0.00,Jan
3,3,46 42.3 36,43 39.3 36,100 89.7 76,7 1.5 0,28.1 28.0 28.0,0.00,Jan
4,4,50 46.6 45,48 44.9 43,100 94.0 87,8 4.3 0,28.0 27.7 27.6,0.00,Jan
5,5,52 46.8 43,46 44.1 39,100 88.9 76,5 1.7 0,27.6 27.6 27.5,0.00,Jan
6,6,46 42.4 39,39 23.0 0,93 70.9 53,15 7.3 0,27.7 27.7 27.6,0.00,Jan
7,7,39 36.3 34,37 22.8 0,93 87.0 65,23 11.7 0,27.6 27.5 27.5,0.00,Jan
8,8,37 34.3 32,23 19.0 16,65 54.4 44,28 18.5 7,27.9 27.7 27.6,0.00,Jan
9,9,36 32.8 30,21 18.1 14,64 55.4 47,20 7.2 0,28.0 27.9 27.9,0.00,Jan

In [155]:
# separamos las columnas que tienen m√°s de un dato 

clima_df[['Tmax','Tavg','Tmin']] = clima_df["Temperature (¬∞ F)"].str.split(" ",expand=True)

In [156]:
clima_df.head()

,Time,Temperature (¬∞ F),Dew Point (¬∞ F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),month,Tmax,Tavg,Tmin
0,Jan,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Max Avg Min,Total,Jan,Max,Avg,Min
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00,Jan,48,42.9,39
2,2,46 41.7 37,41 35.8 0,100 84.0 66,10 3.9 0,28.1 28.1 28.0,0.00,Jan,46,41.7,37
3,3,46 42.3 36,43 39.3 36,100 89.7 76,7 1.5 0,28.1 28.0 28.0,0.00,Jan,46,42.3,36
4,4,50 46.6 45,48 44.9 43,100 94.0 87,8 4.3 0,28.0 27.7 27.6,0.00,Jan,50,46.6,45

In [134]:
# eliminamos cualquier fila que tenga un √≠ndice de 0

clima_df.drop([0], inplace = True)

In [136]:
# volvemos a chequear los resultados

clima_df.head()

,Time,Temperature (¬∞ F),Dew Point (¬∞ F),Humidity (%),Wind Speed (mph),Pressure (Hg),Precipitation (in),Tmax,Tavg,Tmin
1,1,48 42.9 39,41 36.2 34,81 77.0 66,29 16.6 7,28.0 27.8 27.7,0.00,48,42.9,39
2,2,46 41.7 37,41 35.8 0,100 84.0 66,10 3.9 0,28.1 28.1 28.0,0.00,46,41.7,37
3,3,46 42.3 36,43 39.3 36,100 89.7 76,7 1.5 0,28.1 28.0 28.0,0.00,46,42.3,36
4,4,50 46.6 45,48 44.9 43,100 94.0 87,8 4.3 0,28.0 27.7 27.6,0.00,50,46.6,45
5,5,52 46.8 43,46 44.1 39,100 88.9 76,5 1.7 0,27.6 27.6 27.5,0.00,52,46.8,43